In [3]:
#Python Numbers
#There are three numeric types in Python:
# int
x = 23
print('Value of x is', x, 'and type is',type(x))
# float
y = 20.5
print('Value of y is', y, 'and type is',type(y))
# complex
z = 2*x+ y
print('Value of z is', z, 'and type is',type(z))

Value of x is 23 and type is <class 'int'>
Value of y is 20.5 and type is <class 'float'>
Value of z is 66.5 and type is <class 'float'>

In [31]:
# Python Data Types
# There are four commonly used data types in the Python programming language:
# 1. List
#     Ordered and changeable
#     Allows duplicate members
#     Lists are written with square brackets
myLst = ["apple", "apple", "banana", "grapes", "mango"]
print(type(myLst))
print('List:',myLst)

#To extend the list with another list or set or tuple, used extend method
#Incase of extending with a dictionary, the keys added to the list and values are discarded
myLst.extend({"berry":"blue", "cherry":"red"})
print('After extend operation (Extend berry, cherry):', myLst)

#Remove method removes the first occurance of the arugment in the list
myLst.remove("apple")
print('After remove operation (Remove apple):', myLst)

print('Index of apple after removing:', myLst.index('apple'))

myLst.insert(2,"custard")
print('After insert operation (Insert custard):', myLst)

myLst.append("orange")
print('After append operation (Append orange):', myLst)

#To pop the last item in the list
popVal = myLst.pop()
print('List.pop:', popVal)
print('After pop operation(Popped',popVal,'):', myLst)

hetrogenuosLst = ["apple", 40, "grapes", 100, "banana", 12, "mango", 5.0]
print(hetrogenuosLst)
print(type(hetrogenuosLst))


startLst = ["Once","upon","a","time"]
endLst =  ["there","was","a","King"]

jointLst = startLst + endLst
print(jointLst)
print(type(jointLst))

#Reversing the list
print("Reveresed using list[::-1]: ",jointLst[::-1])

reversedLst = jointLst.reverse()
print("Reversed using reverse function: ", jointLst)



# 2. Tuple
#     Ordered and unchangeable
#     Allows duplicate members
myTuple = ("apple", "banana", "grapes", "mango")
print(myTuple)
print(type(myTuple))

# 3. Set
#     Unordered and unindexed
#     No duplicate members
mySet = {"apple", "apple",  "banana", "grapes", "mango", "grapes"}
print(mySet)
print(type(mySet))

# 4. Dictionary
#     Unordered, changeable and indexed
#     No duplicate members
myDict = {"name":"Ganesh", "age": 9, "School":"TVIS, Ponneri"}
print(myDict)
print(type(myDict))

<class 'list'>
List: ['apple', 'apple', 'banana', 'grapes', 'mango']
After extend operation (Extend berry, cherry): ['apple', 'apple', 'banana', 'grapes', 'mango', 'berry', 'cherry']
After remove operation (Remove apple): ['apple', 'banana', 'grapes', 'mango', 'berry', 'cherry']
Index of apple after removing: 0
After insert operation (Insert custard): ['apple', 'banana', 'custard', 'grapes', 'mango', 'berry', 'cherry']
After append operation (Append orange): ['apple', 'banana', 'custard', 'grapes', 'mango', 'berry', 'cherry', 'orange']
List.pop: orange
After pop operation(Popped  orange ): ['apple', 'banana', 'custard', 'grapes', 'mango', 'berry', 'cherry']
['apple', 40, 'grapes', 100, 'banana', 12, 'mango', 5.0]
<class 'list'>
['Once', 'upon', 'a', 'time', 'there', 'was', 'a', 'King']
<class 'list'>
Reveresed using list[::-1]:  ['King', 'a', 'was', 'there', 'time', 'a', 'upon', 'Once']
Reversed using reverse function:  ['King', 'a', 'was', 'there', 'time', 'a', 'upon', 'Once']
('apple', 'banana', 'grapes', 'mango')
<class 'tuple'>
{'banana', 'grapes', 'mango', 'apple'}
<class 'set'>
{'name': 'Ganesh', 'age': 9, 'School': 'TVIS, Ponneri'}
<class 'dict'>