In [8]:
#Python Numbers
#There are three numeric types in Python:
# int
x = 23
print('Value of x is', x, 'and type is',type(x))
# float
y = 20.5
print('Value of y is', y, 'and type is',type(y))
# complex
z = 2*x+4
print('Value of z is', z, 'and type is',type(z))

Value of x is 23 and type is <class 'int'>
Value of y is 20.5 and type is <class 'float'>
Value of z is 50 and type is <class 'int'>

In [20]:
# Python Data Types
# There are four commonly used data types in the Python programming language:
# 1. List
#     Ordered and changeable
#     Allows duplicate members
#     Lists are written with square brackets
mylist = ["apple", "banana", "grapes", "mango"]
print(mylist)
print(type(mylist))

hetrogenuosLst = ["apple", 40, "grapes", 100, "banana", 12, "mango", 5.0]
print(hetrogenuosLst)
print(type(hetrogenuosLst))


startLst = ["Once","upon","a","time"]
endLst =  ["there","was","a","King"]

jointLst = startLst+endLst
print(jointLst)
print(type(jointLst))

#Reversing the list
print("Reveresed using list[::-1]: ",jointLst[::-1])

reversedLst = jointLst.reverse()
print("Reversed using reverse function: ", jointLst)

# 2. Tuple
#     Ordered and unchangeable
#     Allows duplicate members


# 3. Set
#     Unordered and unindexed
#     No duplicate members

# 4. Dictionary
#     Unordered, changeable and indexed
#     No duplicate members

['apple', 'banana', 'grapes', 'mango']
<class 'list'>
['apple', 40, 'grapes', 100, 'banana', 12, 'mango', 5.0]
<class 'list'>
['Once', 'upon', 'a', 'time', 'there', 'was', 'a', 'King']
<class 'list'>
Reveresed using list[::-1]:  ['King', 'a', 'was', 'there', 'time', 'a', 'upon', 'Once']
Reversed using reverse function:  ['King', 'a', 'was', 'there', 'time', 'a', 'upon', 'Once']